snippet cmake_binary "Configure CMake for a basic binary setup" b
cmake_minimum_required(VERSION ${1:3.0})

project(${2:binary} VERSION 0.0.1 LANGUAGES ${3:CXX})

add_executable($2 src/main.cpp)

install(TARGETS $2 DESTINATION bin)
endsnippet

snippet cmake_library "Configure CMake for a basic library setup" b
cmake_minimum_required(VERSION ${1:3.0})

project(${2:library} VERSION 0.0.1 LANGUAGES ${3:CXX})

add_library($2 src/lib.cpp)

install(TARGETS $2 DESTINATION lib)
endsnippet
